body {
background: url("https://vignette.wikia.nocookie.net/mcleodgaming/images/4/4c/New_Green_Hill_Zone.png/revision/latest?cb=20170710101215");
background-size: cover;
color: white;
font-weight: bold;
} 